<div
  class="modal fade"
  id="vc-confirm-modal"
  tabindex="-1"
  aria-labelledby="vc-confirm-modal-title"
  aria-describedby="vc-confirm-modal-description"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="vc-confirm-modal-title">
          Confirmar acción
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" id="vc-confirm-modal-description">
        ¿Deseas continuar con esta acción?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          Cancelar</button
        ><button
          type="button"
          class="btn btn-primary"
          data-action="confirm-modal"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
